--index-url https://pypi.tuna.tsinghua.edu.cn/simple
--extra-index-url https://download.pytorch.org/whl/cpu

opencv-python-headless==4.11.0.86  # 支持Python 3.12的最新版
numpy==1.26.4
torch==2.3.0
ultralytics==8.3.55
streamlit==1.44.0
